In [1]:
from ctgan import CTGAN
from data_transformer import DataTransformer
from data_sampler import DataSampler
from train import Train
import numpy as np
import tensorflow as tf

2023-06-08 11:16:42.937926: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1

In [3]:
import pandas as pd
df = pd.read_csv('insurance_claims.csv')
df

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,NaN
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,NaN
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,NaN
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,NaN
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38,941851,1991-07-16,OH,500/1000,1000,1310.80,0,431289,...,?,87200,17440,8720,61040,Honda,Accord,2006,N,NaN
996,285,41,186934,2014-01-05,IL,100/300,1000,1436.79,0,608177,...,?,108480,18080,18080,72320,Volkswagen,Passat,2015,N,NaN
997,130,34,918516,2003-02-17,OH,250/500,500,1383.49,3000000,442797,...,YES,67500,7500,7500,52500,Suburu,Impreza,1996,N,NaN
998,458,62,533940,2011-11-18,IL,500/1000,2000,1356.92,5000000,441714,...,YES,46980,5220,5220,36540,Audi,A5,1998,N,NaN
999,456,60,556080,1996-11-11,OH,250/500,1000,766.19,0,612260,...,?,5060,460,920,3680,Mercedes,E400,2007,N,NaN

In [4]:

raw_data = df[['injury_claim', 'property_claim', 'vehicle_claim', 'auto_make', 'auto_model', 'auto_year']]

transformer = DataTransformer()
transformer.fit(raw_data, discrete_columns=('auto_make', 'auto_model', 'auto_year'))
data_t = transformer.transform(raw_data)      #matrix of transformed data
output_info = transformer.output_info_list

log_frequency = True
sampler = DataSampler(data_t, output_info, log_frequency)

In [5]:
output_info

[[SpanInfo(dim=1, activation_fn='tanh'),
  SpanInfo(dim=3, activation_fn='softmax')],
 [SpanInfo(dim=1, activation_fn='tanh'),
  SpanInfo(dim=5, activation_fn='softmax')],
 [SpanInfo(dim=1, activation_fn='tanh'),
  SpanInfo(dim=5, activation_fn='softmax')],
 [SpanInfo(dim=14, activation_fn='softmax')],
 [SpanInfo(dim=39, activation_fn='softmax')],
 [SpanInfo(dim=21, activation_fn='softmax')]]

In [6]:
transformer._column_transform_info_list

[ColumnTransformInfo(column_name='injury_claim', column_type='continuous', transform=ClusterBasedNormalizer(model_missing_values=True), output_info=[SpanInfo(dim=1, activation_fn='tanh'), SpanInfo(dim=3, activation_fn='softmax')], output_dimensions=4),
 ColumnTransformInfo(column_name='property_claim', column_type='continuous', transform=ClusterBasedNormalizer(model_missing_values=True), output_info=[SpanInfo(dim=1, activation_fn='tanh'), SpanInfo(dim=5, activation_fn='softmax')], output_dimensions=6),
 ColumnTransformInfo(column_name='vehicle_claim', column_type='continuous', transform=ClusterBasedNormalizer(model_missing_values=True), output_info=[SpanInfo(dim=1, activation_fn='tanh'), SpanInfo(dim=5, activation_fn='softmax')], output_dimensions=6),
 ColumnTransformInfo(column_name='auto_make', column_type='discrete', transform=OneHotEncoder(), output_info=[SpanInfo(dim=14, activation_fn='softmax')], output_dimensions=14),
 ColumnTransformInfo(column_name='auto_model', column_type='discrete', transform=OneHotEncoder(), output_info=[SpanInfo(dim=39, activation_fn='softmax')], output_dimensions=39),
 ColumnTransformInfo(column_name='auto_year', column_type='discrete', transform=OneHotEncoder(), output_info=[SpanInfo(dim=21, activation_fn='softmax')], output_dimensions=21)]

In [7]:
data_t.shape

(1000, 90)

In [9]:
model = CTGAN()
generator  = model.make_generator(sampler, transformer)
discriminator = model.make_discriminator(sampler, transformer)

In [10]:
generator.summary()

Model: "model_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_3 (InputLayer)         [(None, 202)]             0
_________________________________________________________________
residual_layer_2 (ResidualLa (None, 458)               51968
_________________________________________________________________
residual_layer_3 (ResidualLa (None, 714)               117504
_________________________________________________________________
dense_2 (Dense)              (None, 90)                64350
=================================================================
Total params: 233,822
Trainable params: 233,822
Non-trainable params: 0
_________________________________________________________________

In [11]:
discriminator.summary()

Model: "model_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_4 (InputLayer)         [(None, 1640)]            0
_________________________________________________________________
discriminator_layer_2 (Discr (None, 256)               420096
_________________________________________________________________
discriminator_layer_3 (Discr (None, 256)               65792
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 257
=================================================================
Total params: 486,145
Trainable params: 486,145
Non-trainable params: 0
_________________________________________________________________

In [12]:
from train import Train
train = Train(transformer, sampler, generator, discriminator,  epochs=100)

In [13]:
import tensorflow as tf
train.train(raw_data)

2023-06-08 12:03:47.576511: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcublas.so.10

Epoch 1, Loss G:  1.0700, Loss D:  7.7152
Epoch 2, Loss G:  1.0542, Loss D:  7.0842
Epoch 3, Loss G:  1.0422, Loss D:  6.2515
Epoch 4, Loss G:  1.0443, Loss D:  5.1835
Epoch 5, Loss G:  1.0071, Loss D:  4.0829
Epoch 6, Loss G:  1.0117, Loss D:  2.9162
Epoch 7, Loss G:  1.0212, Loss D:  1.9030
Epoch 8, Loss G:  1.0194, Loss D:  0.9773
Epoch 9, Loss G:  0.9851, Loss D:  0.3535
Epoch 10, Loss G:  0.9674, Loss D:  0.0930
Epoch 11, Loss G:  0.9709, Loss D: -0.0399
Epoch 12, Loss G:  0.9091, Loss D:  0.0079
Epoch 13, Loss G:  0.9035, Loss D:  0.0732
Epoch 14, Loss G:  0.8422, Loss D:  0.0973
Epoch 15, Loss G:  0.9111, Loss D:  0.0771
Epoch 16, Loss G:  0.8757, Loss D:  0.0040
Epoch 17, Loss G:  0.8699, Loss D:  0.0158
Epoch 18, Loss G:  0.8876, Loss D:  0.0727
Epoch 19, Loss G:  0.9004, Loss D:  0.0446
Epoch 20, Loss G:  0.8745, Loss D:  0.1027
Epoch 21, Loss G:  0.8595, Loss D:  0.1220
Epoch 22, Loss G:  0.8249, Loss D:  0.0591
Epoch 23, Loss G:  0.8266, Loss D:  0.1097
Epoch 24, Loss G:  0.8645, Loss D:  0.1637
Epoch 25, Loss G:  0.8637, Loss D:  0.1683
Epoch 26, Loss G:  0.9089, Loss D:  0.1006
Epoch 27, Loss G:  0.8852, Loss D:  0.0921
Epoch 28, Loss G:  0.9232, Loss D:  0.0694
Epoch 29, Loss G:  0.9554, Loss D:  0.0659
Epoch 30, Loss G:  0.9648, Loss D:  0.0679
Epoch 31, Loss G:  0.9588, Loss D: -0.0065
Epoch 32, Loss G:  0.9612, Loss D: -0.0150
Epoch 33, Loss G:  1.0170, Loss D:  0.0316
Epoch 34, Loss G:  1.0322, Loss D:  0.0114
Epoch 35, Loss G:  0.9316, Loss D: -0.0608
Epoch 36, Loss G:  0.9915, Loss D: -0.0260
Epoch 37, Loss G:  1.0261, Loss D:  0.0175
Epoch 38, Loss G:  0.9540, Loss D: -0.0233
Epoch 39, Loss G:  1.0089, Loss D:  0.0237
Epoch 40, Loss G:  0.9286, Loss D:  0.0145
Epoch 41, Loss G:  0.9306, Loss D:  0.0731
Epoch 42, Loss G:  0.9512, Loss D:  0.0800
Epoch 43, Loss G:  0.9597, Loss D:  0.0698
Epoch 44, Loss G:  0.9374, Loss D:  0.1264
Epoch 45, Loss G:  0.9154, Loss D: -0.0084
Epoch 46, Loss G:  0.9336, Loss D:  0.0341
Epoch 47, Loss G:  0.9596, Loss D:  0.1009
Epoch 48, Loss G:  0.9265, Loss D:  0.0595
Epoch 49, Loss G:  0.8991, Loss D:  0.0485
Epoch 50, Loss G:  0.8747, Loss D:  0.0793
Epoch 51, Loss G:  0.9330, Loss D:  0.0393
Epoch 52, Loss G:  0.9229, Loss D:  0.0273
Epoch 53, Loss G:  0.8968, Loss D:  0.0338
Epoch 54, Loss G:  0.8852, Loss D:  0.0045
Epoch 55, Loss G:  0.8986, Loss D:  0.0092
Epoch 56, Loss G:  0.8984, Loss D: -0.0159
Epoch 57, Loss G:  0.9103, Loss D: -0.0007
Epoch 58, Loss G:  0.9082, Loss D: -0.0513
Epoch 59, Loss G:  0.9427, Loss D: -0.0528
Epoch 60, Loss G:  0.8894, Loss D: -0.0614
Epoch 61, Loss G:  0.9035, Loss D:  0.0368
Epoch 62, Loss G:  0.8593, Loss D:  0.0284
Epoch 63, Loss G:  0.8749, Loss D:  0.0063
Epoch 64, Loss G:  0.8216, Loss D: -0.0268
Epoch 65, Loss G:  0.8202, Loss D:  0.0528
Epoch 66, Loss G:  0.8231, Loss D:  0.1141
Epoch 67, Loss G:  0.7713, Loss D:  0.0807
Epoch 68, Loss G:  0.7852, Loss D:  0.0308
Epoch 69, Loss G:  0.7803, Loss D:  0.0239
Epoch 70, Loss G:  0.7955, Loss D:  0.0380
Epoch 71, Loss G:  0.8049, Loss D:  0.0504
Epoch 72, Loss G:  0.8149, Loss D:  0.0637
Epoch 73, Loss G:  0.8292, Loss D:  0.0244
Epoch 74, Loss G:  0.8366, Loss D:  0.0210
Epoch 75, Loss G:  0.9079, Loss D:  0.0034
Epoch 76, Loss G:  0.8428, Loss D:  0.0301
Epoch 77, Loss G:  0.8772, Loss D:  0.0140
Epoch 78, Loss G:  0.8564, Loss D:  0.0250
Epoch 79, Loss G:  0.8481, Loss D:  0.0394
Epoch 80, Loss G:  0.8091, Loss D:  0.0281
Epoch 81, Loss G:  0.8618, Loss D:  0.0134
Epoch 82, Loss G:  0.8333, Loss D: -0.0630
Epoch 83, Loss G:  0.8811, Loss D: -0.0748
Epoch 84, Loss G:  0.8847, Loss D:  0.0166
Epoch 85, Loss G:  0.8684, Loss D:  0.0454
Epoch 86, Loss G:  0.8820, Loss D: -0.0916
Epoch 87, Loss G:  0.8638, Loss D:  0.0166
Epoch 88, Loss G:  0.8086, Loss D:  0.0839
Epoch 89, Loss G:  0.8582, Loss D: -0.0440
Epoch 90, Loss G:  0.8024, Loss D: -0.0499
Epoch 91, Loss G:  0.8028, Loss D: -0.0269
Epoch 92, Loss G:  0.7859, Loss D:  0.0555
Epoch 93, Loss G:  0.8030, Loss D:  0.0892
Epoch 94, Loss G:  0.7923, Loss D:  0.0475
Epoch 95, Loss G:  0.7601, Loss D:  0.0175
Epoch 96, Loss G:  0.7955, Loss D:  0.0156
Epoch 97, Loss G:  0.7770, Loss D: -0.0039
Epoch 98, Loss G:  0.8110, Loss D: -0.0794
Epoch 99, Loss G:  0.8090, Loss D: -0.0468
Epoch 100, Loss G:  0.7946, Loss D: -0.0262

In [14]:
data = train.synthesise_data(100)
data

,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year
0,9621,-382,54167,Suburu,TL,2012
1,2258,8160,55810,Saab,Ultima,1999
2,8720,6667,64109,Chevrolet,Wrangler,2007
3,873,8742,35488,Dodge,F150,2002
4,10307,86,41173,Volkswagen,A5,1999
...,...,...,...,...,...,...
95,17533,1281,59445,Nissan,Jetta,2006
96,8635,16960,45451,Honda,Escape,2013
97,10294,11514,59724,Dodge,Ultima,1998
98,14833,13136,62203,Jeep,Corolla,2009
99,5919,18594,63214,Jeep,93,2003

In [15]:
data2 = train.synthesise_data(50, condition_column='auto_make', condition_value='Jeep')
data2

,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year
0,1342,13236,80547,Honda,Grand Cherokee,1999
1,18324,406,36460,Nissan,Wrangler,2012
2,14009,14941,52996,Suburu,TL,2006
3,8232,5240,65834,Toyota,92x,2000
4,11983,10003,50959,Jeep,Impreza,1995
5,1945,8699,7084,Chevrolet,A5,2003
6,1894,9421,60620,Dodge,Escape,2003
7,1429,1311,5978,Honda,Corolla,2001
8,19467,2484,3439,Toyota,Maxima,1995
9,7262,12534,5085,Nissan,Forrestor,2000
10,7180,6861,27587,Chevrolet,Neon,1997
11,1959,7957,85501,Suburu,Impreza,2004
12,21581,6617,30887,Accura,Corolla,2009
13,7823,12638,10585,Volkswagen,Grand Cherokee,2011
14,2320,2064,56140,Volkswagen,93,1997
15,8699,12821,61384,Ford,TL,2003
16,9373,5029,5682,Suburu,Camry,1997
17,9822,949,59607,Accura,Jetta,1998
18,2413,1186,67128,Volkswagen,RAM,2002
19,9149,5509,46764,Volkswagen,92x,2002
20,15926,7378,8660,Chevrolet,92x,2004
21,18471,8302,76144,Suburu,93,2006
22,10321,-586,7256,Volkswagen,ML350,2003
23,15786,8424,45809,Dodge,E400,2007
24,9095,894,52768,Nissan,Tahoe,1995
25,2034,4467,14375,Honda,A5,2003
26,2293,13906,57068,Accura,A3,1997
27,2737,6475,61691,Honda,Jetta,1997
28,17524,6640,48089,Jeep,92x,2015
29,2297,380,4617,Nissan,Impreza,2007
30,15669,12396,32591,Audi,A5,2014
31,6229,6781,2712,Dodge,Highlander,2014
32,2410,1438,67626,Jeep,93,2002
33,3006,665,59238,Saab,Legacy,1998
34,6421,8027,7978,Mercedes,Silverado,2008
35,1959,5300,61343,Dodge,A3,2005
36,1231,12886,2282,Mercedes,C300,2007
37,418,1086,58833,Audi,Escape,2003
38,9299,16890,37392,BMW,95,1997
39,15136,2098,56332,Volkswagen,A5,2011
40,635,15882,60635,Dodge,ML350,2003
41,2576,6554,54845,Toyota,Silverado,1995
42,9808,6505,65075,Accura,Neon,2013
43,1689,5816,53619,Saab,Legacy,2000
44,2527,15207,9409,Toyota,Camry,2001
45,14226,4951,6135,Ford,Maxima,2010
46,2041,7586,62035,Nissan,Forrestor,2008
47,1871,10473,71258,Jeep,Jetta,2011
48,2215,6724,66445,Mercedes,C300,1995
49,6996,15554,42715,BMW,Pathfinder,2008